body {
    background: url('./5192479.jpg');
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.form-label {
    color: #f8f9fa;
}

label img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

label img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
}

input[name="gender"]:checked+label img {
    border: 3px solid #007bff;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
    transform: scale(1.05);
}

.btn-primary {
    background-color: #007bff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
}

#result {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}